p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}

a {
	color: #CCFF00;
	text-decoration: underline;
}

a:hover {
	color: #FF6600;
	text-decoration: none;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #AAAAAA;
}

.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #FFCC00;
}

.highlight {
	color: #FF9900;
}

.note {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #9999FF;
}